fastapi
uvicorn
groq
pydantic
python-dotenv
requests>=2.33.1
python-multipart
pytesseract
pillow
psycopg2-binary
sqlalchemy
passlib[bcrypt]
python-jose[cryptography]
PyMuPDF
pdf2image
python-docx
pdfplumber
duckduckgo-search
reportlab
faiss-cpu
numpy<2.0.0
trafilatura
sentence-transformers
playwright
torch
scikit-learn
openai
